$c-gray: #eee;
$accent-Orange: #f9512e;
$accent-DarkOrange: #b2341a;
$accent-LightOrange: #fba28f;
$bg-color: #FFEEFC;

$font-primary: 'Roboto Mono', monospace;
$font-secondary: 'Courier New', Courier, monospace;
